{
  "root": true,
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "script"
  },
  "extends": [
    "carbon-base"
  ],
  "rules": {
    "comma-dangle": [
      2,
      {
        "arrays": "always-multiline",
        "objects": "always-multiline",
        "imports": "always-multiline",
        "exports": "always-multiline",
        "functions": "never"
      }
    ],
    "import/no-extraneous-dependencies": [
      2,
      {
        "devDependencies": true,
        "optionalDependencies": false,
        "peerDependencies": true
      }
    ]
  }
}
